.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    background-color: #fff;
}

.babyCup-1 {
    opacity: 0;
    transition-property: all;
}
.babyCup-2 {
    opacity: 1;
    transition-property: all;
    transition-delay: .18s;
    transition-duration: .1s;
}

.top {
    position: absolute;
    top: 13px;
    left: -338px;
    width: 675px;
    height: 113px;
    margin-left: 50%;
    background-color: #e7f3dd;
    border: 8px solid #000;
    border-radius: 68px 68px 0px 0px;
    box-shadow: -1px -1px 14px -2px rgb(99, 0, 0, .45), 1px -1px 14px -2px rgb(99, 0, 0, .45);
}

.text {
    position: absolute;
    font-size: 26px;
    font-family: 'snell roundhand';
}
.espresso {
    margin-top: 47px;
    text-align: left;
    margin-left: 169px;
}
.milk {
    margin-top: 49px;
    text-align: left;
    margin-left: 308px;
}
.syrup {
    margin-top: 47px;
    text-align: left;
    margin-left: 428px;
}

.dials {
    position: absolute;
    top: 12px;
    width: 48px;
    height: 48px;
    margin-left: 50%;
    background-color: #f499b8;
    border: 6px solid #000;
    border-radius: 60px 60px 60px 60px;
}
.dial-1 {
    left: -150px;
    transform-origin: 50% 50%;
        animation: rotateDial1A 6s infinite linear; }
    @keyframes rotateDial1A {
        from { transform: rotate(0); }
        to { transform: rotate(360deg); }
        }
    @keyframes rotateDial1B {
        from { transform: rotate(0); }
        to { transform: rotate(5400deg); }
        }
.dial-2 {
    left: -30px;
    transform-origin: 50% 50%;
        animation: rotateDial2A 5s infinite linear; }
    @keyframes rotateDial2A {
        from { transform: rotate(0); }
        to { transform: rotate(-360deg); }
        }
    @keyframes rotateDial2B {
        from { transform: rotate(0); }
        to { transform: rotate(-9000deg); }
        }
.dial-3 {
    left: 92px;
    transform-origin: 50% 50%;
        animation: rotateDial3A 7s infinite linear; }
    @keyframes rotateDial3A {
        from { transform: rotate(0); }
        to { transform: rotate(-360deg); }
        }
    @keyframes rotateDial3B {
        from { transform: rotate(0); }
        to { transform: rotate(-5400deg); }
        }

.dialpins {
    position: absolute;
    top: 15px;
    left: -9px;
    width: 12px;
    height: 12px;
    margin-left: 50%;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 45px 45px 45px 45px;
    z-index: 10;
}
.cross-a {
    position: absolute;
    top: 0;
    left: -1px;
    width: 3px;
    height: 53px;
    margin-left: 50%;
    background-color: #000;
}
.cross-b {
    position: absolute;
    top: 22px;
    left: -27px;
    width: 52px;
    height: 3px;
    margin-left: 50%;
    background-color: #000;
}

.rim {
    position: absolute;
    top: 135px;
    left: -293px;
    width: 585px;
    height: 38px;
    margin-left: 50%;
    background-color: #c8e2b3;
    border-style: solid;
    border-color: #000;
    border-width: 8px 8px 6px 8px;
    box-shadow: -1px 6px 14px -2px rgb(99, 0, 0, .45), 1px 6px 14px -2px rgb(99, 0, 0, .45);
}

.back {
    position: absolute;
    top: 183px;
    left: -293px;
    width: 585px;
    height: 501px;
    margin-left: 50%;
    background-color: #9edae4;
    border-style: solid;
    border-color: #000;
    border-width: 6px 8px 8px 8px;
    box-shadow: -1px 6px 14px -2px rgb(99, 0, 0, .45), 1px 6px 14px -2px rgb(99, 0, 0, .45);
}

.drip {
    position: absolute;
    top: -14px;
    left: -128px;
    width: 243px;
    height: 27px;
    margin-left: 50%;
    background-color: #f499b8;
    border-width: 6px 8px 8px 8px;
    border-style: solid;
    border-color: #000;
    z-index: 30px;
    border-radius: 0 0 30px 30px;
    transform: perspective(450px) rotateX(-45deg);
    transform-origin: bottom;
}

.spout {
    position: absolute;
    top: 16px;
    left: -79px;
    width: 147px;
    height: 15px;
    margin-left: 50%;
    background-color: #c7e1b2;
    border: 6px solid #000;
    z-index: 30px;
    border-radius: 0 0 15px 15px;
    transform: perspective(450px) rotateX(-45deg);
    transform-origin: bottom;
}

.pours {
    position: absolute;
    height: 207px;
    margin-left: 50%;
    transform-origin: top;
    transform: scaleY(.01);
}
#espresso-pour {
    top: 1px;
    left: -40px;
    width: 15px;
    background-color: #330c00;
}
#milk-pour {
    top: 0px;
    left: -15px;
    width: 20px;
    background-color: #fffff0;
}
#water-pour {
    top: 1px;
    left: 8px;
    width: 30px;
    background-color: rgba(0, 0, 255, .25);
}
#syrup-pour {
    top: 1px;
    left: 30px;
    width: 15px;
}

.dribbles {
    position: absolute;
    top: 42px;
    height: 15px;
    width: 15px;
    margin-left: 50%;
    border-radius: 0 8px 8px 8px;
    transform: rotate(45deg) translateX(4px) translateY(4px);
    opacity: 0;
}
#espresso-dribble {
    left: -40px;
    background-color: #330c00;
}
#milk-dribble {
    left: -12px;
    background-color: #fffff0;
}
#water-dribble {
    left: 16px;
    background-color: rgba(0, 0, 255, .25);
}

@keyframes pour {
    0% { transform: translateX(-1px) scaleX(.01) scaleY(.01); }
    10% { transform: scaleX(1) scaleY(1); }
    40% { transform: translateX(0px); }
    50% { transform: translateX(-1px); }
    70% { transform: translateX(0px); }
    80% { transform: translateX(1px) scaleX(1); }
    90% { transform: translateX(0px) scaleX(.3); }
    93% { transform: scaleX(.7); }
    95% { transform: scaleX(.01) scaleY(1); }
    100% { transform: scaleY(.01); }
}
@keyframes dribble {
    0% { top: 42px;
         opacity: 1; }
    1% {  top: 175px;
            opacity: .3; }
    2% {  top: 30px;
            opacity : 0; }
    3% {  top: 42px;
            opacity: 1; }
    7% {  top: 175px;
            opacity: .3; }
    8% {  top: 30px;
            opacity: 0; }
    9% {  top: 42px;
             opacity : 1; }
    14% {  top: 175px;
            opacity: .3; }
    15% {  top: 30px;
            opacity: 0; }
    18% {  top: 42px;
             opacity : 1; }
    23% {  top: 175px;
            opacity: .3; }
    24% {  top: 30px;
            opacity: 0; }
    29% {  top: 42px;
             opacity : 1; }
    34% {  top: 175px;
            opacity: .3; }
    35% {  top: 30px;
            opacity: 0; }
    42% {  top: 42px;
             opacity : 1; }
    47% {  top: 175px;
            opacity: .3; }
    48% {  top: 30px;
            opacity: 0; }
    57% {  top: 42px;
             opacity : 1; }
    62% {  top: 175px;
            opacity: .3; }
    63% {  top: 30px;
            opacity: 0; }
    74% {  top: 42px;
            opacity : 1; }
    79% {  top: 175px;
            opacity: .3; }
    80% {  top: 30px;
            opacity: 0; }
    94% {  top: 42px;
            opacity : 1; }
    99% {  top: 175px;
            opacity: .3; }
    100% {  top: 30px;
            opacity: 0; }
}
@keyframes blast {
    0% { transform: scaleX(.01) scaleY(.01); }
    15% { transform: scaleX(2) scaleY(1); }
    99% { transform: scaleX(.05) scaleY(1); }
    100% { transform: scaleX(.01) scaleY(.01); }
}

.base {
    position: absolute;
    top: 442px;
    left: -144px;
    width: 270px;
    height: 57px;
    margin-left: 50%;
    background-color: #c8e2b3;
    border: 9px solid #000;
    border-radius: 30px 30px 0px 0px;
    transform: perspective(450px) rotateX(45deg);
    z-index: 20;
}

.bottom {
    position: absolute;
    top: 690px;
    left: -338px;
    width: 675px;
    height: 78px;
    margin-left: 50%;
    margin-bottom: 13px;
    background-color: #e7f3dd;
    border: 8px solid #000;
    border-radius: 0px 0px 90px 90px;
    box-shadow: -2px 2px 14px -3px rgb(99, 0, 0, .45), 2px 2px 14px -3px rgb(99, 0, 0, .45);
    z-index: 15;
}

#button {
    position: absolute;
    top: 16px;
    left: -67px;
    width: 126px;
    height: 9px;
    margin-left: 50%;
    border: 5px solid #000;
    border-radius: 4px 4px 4px 4px;
}
.button__1 {
    background-color: #0000d2;
    box-shadow: 0px 0px 5px 6px #fff, 0px 0px 25px 2px rgba(28, 28, 255, .6);
}
.button__2 {
    transform: scale(.97);
    background-color: #FF3700;
    box-shadow: 0px 0px 5px 2px #fff, 0px 0px 25px 2px rgba(255, 55, 0, 1);
}
.water {
    margin-top: 14px;
    text-align: left;
    margin-left: 305px;
}

/*---------------------------------------HERE'S WHERE ALL THE TOGGLING AND CLASS SWAPPING ANIMATION HAPPENS---------------------------------------*/

#handle {
    position: absolute;
    top: 216px;
    left: 120px;
    width: 30px;
    height: 150px;
    margin-left: 50%;
    border-top: 15px solid #000;
    border-right: 13px solid #000;
    border-bottom: 21px solid #000;
    border-radius: 45px;
}
.handle__1 {
    transform: perspective(510px) rotateX(-45deg) rotateZ(4deg);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.handle__2 {
    transform: translateX(3px) translateY(12px) perspective(360px) rotateX(-45deg) rotateZ(7deg);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#cup-compensation { /* Cup__1 and Cup__2 needed rotate(X) transitions which were hiding the eyes in Safari (and eyes couldn't be children of cup becauase rotate(X) of cup was changing their shape). The solution was to change cup transition origin from center to top to allow eyes to be visible, then counter transition motion with this empty parent div, which counters the left/right toggle between cup__1 and cup__2 to maintain the original rocking feel. */
    position: absolute;
    top: 207px;
    width: 15px;
    height: 15px;
    margin-left: 50%;
}
.cup-compensation__1 {
    left: -151px;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.cup-compensation__2 {
    left: -136px;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#cup {
    width: 255px;
    height: 420px;
    background-color: #fff;
    border: 15px solid #000;
    border-radius: 0 0 135px 135px;
    box-shadow: -38px 75px 30px 0 #5c5c5c;
    z-index: 5;
}
.cup__1 {
    transform: perspective(900px) rotateX(-40deg) rotateZ(-2deg);
    transform-origin: top;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.cup__2 {
    transform: perspective(900px) rotateX(-40deg) rotateZ(2deg);
    transform-origin: top;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#cup-overlay { /* Toggles between white and red when devil is actived upon brow position 0 */
    position: absolute;
    height: 426px;
    width: 255px;
    border-radius: 0 0 135px 135px;
    z-index: 10;
}
.cup-overlay-1 {
    background-color: #fff;
    transition: .3s ease;
}
.cup-overlay-2 {
    background-color: tomato;
    transition: .6s ease;
}

#horns {
    position: absolute;
    top: -46px;
    left: -101px;
    margin-left: 50%;
    width: 201px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 39px solid #000;
    border-radius: 0px 0 115px 115px;
    z-index: 5;
}
.horns-1 {
    opacity: 1;
    transform: translateY(0px) translateX(0px);
    transition: all .1s ease;
}
.horns-2 {
    opacity: 0;
    transform: translateY(30px) translateX(0px);
    transition: all .05s ease;
}

#halo {
    position: absolute;
    top: -165px;
    left: -98px;
    margin-left: 50%;
    width: 144px;
    height: 144px;
    border-top: 27px solid #FFD700;
    border-left: 27px solid #FFD700;
    border-right: 27px solid #FFD700;
    border-bottom: 27px solid #FFD700;
    border-radius: 135px 135px 135px 135px;
    box-shadow: 0 0 120px 30px white, inset 0 0 120px 0px white, 0 0 30px 3px #FFE975, inset 0 0 15px 0px #FFE975;
    z-index: 5;
}
.halo-1 {
    opacity: 1;
    transform: scaleX(1) scaleY(1) translateY(0) rotateX(82deg);
    transition: all .3s ease;
}
.halo-2 {
    opacity: 0;
    transform: scaleX(.95) scaleY(.95) translateY(1px) rotateX(82deg);
    transition: all .3s ease;
}

#tearleft {
    position: absolute;
    left: -21px;
    margin-left: 50%;
    width: 24px;
    height: 24px;
    background-color: #F5B5B5;
    z-index: 25;
    transform: rotate(45deg) translateX(68px);
    border-radius: 0 45px 45px 45px;
}
.tearleft-1 {
    top: 111px;
    opacity: 1;
    transition: all 0s ease;
}
.tearleft-2 {
    top: 162px;
    opacity: 0;
    transition: all .4s ease;
}

#tearright {
    position: absolute;
    left: -101px;
    margin-left: 50%;
    width: 24px;
    height: 24px;
    background-color: #F5B5B5;
    z-index: 25;
    transform: rotate(45deg) translateX(68px);
    border-radius: 0 45px 45px 45px;
}
.tearright-1 {
    top: 111px;
    opacity: 1;
    transition: all 0s ease;
}
.tearright-2 {
    top: 162px;
    opacity: 0;
    transition: all .4s ease;
}

#lefteyebrow {
    position:absolute;
    top: 15px;
    left: 12px;
    width: 57px;
    height: 57px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    z-index: 20;
}
#righteyebrow {
    position:absolute;
    top: 15px;
    left: -12px;
    width: 57px;
    height: 57px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    z-index: 20;
}
.lefteyebrow-0 {
   transform: translateY(12px) translateX(24px) rotateZ(25deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -8px black;
}
.righteyebrow-0 {
    transform: translateY(12px) translateX(-81px) rotateZ(65deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -8px black;
}
.lefteyebrow-1 {
   transform: translateY(11px) translateX(27px) rotateZ(40deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -8px black;
}
.righteyebrow-1 {
    transform: translateY(11px) translateX(-84px) rotateZ(50deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -8px black;
}
.lefteyebrow-2 {
   transform: translateY(9px) translateX(30px) rotateZ(50deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.righteyebrow-2 {
    transform: translateY(9px) translateX(-87px) rotateZ(40deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.lefteyebrow-3 {
    transform: translateY(8px) translateX(33px) rotateZ(60deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.righteyebrow-3 {
    transform: translateY(8px) translateX(-90px) rotateZ(30deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.lefteyebrow-4 {
    transform: translateY(6px) translateX(36px) rotateZ(70deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.righteyebrow-4 {
    transform: translateY(6px) translateX(-93px) rotateZ(20deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.lefteyebrow-5 {
    transform: translateY(6px) translateX(36px) rotateZ(80deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}
.righteyebrow-5 {
    transform: translateY(6px) translateX(-93px) rotateZ(10deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -6px 2px -8px black;
}

#invisible-nose-bridge {  /* This is the white triangle that seperates closed-eyes in the center. It toggles color with cup-overlay. */
    position: absolute;
    top: 113px;
    left: -69px;
    width: 45px;
    height: 0px;
    margin-left: 50%;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    z-index: 9999;
}
.invisible-nose-bridge-1 {
    border-bottom: 36px solid white;
    transition: .3s ease;
}
.invisible-nose-bridge-2 {
    border-bottom: 36px solid tomato;
    transition: .6s ease;
}

#closed-eyes { /* Sits behind eyes and is seen in the random value bewteen 20-120ms that eyes__2 toggles back and forth to eyes__1 (i.e. the blink) */
    position: absolute;
    top: 116px;
    left: -108px;
    width: 213px;
    height: 27px;
    margin-left: 50%;
    background-color: #000;
    border-radius: 3045px;
    z-index: 10;
}

.eyes__1 {
    visibility: hidden;
}
.eyes__2 {
    visibility: visible;
}

#righteye {
    position: absolute;
    top: 266px;
    left: -103px;
    width: 75px;
    height: 75px;
    margin-left: 50%;
    background-color: #000;
    border-radius: 45px;
    z-index: 20;
    box-shadow: 0 0px 12px 0px #5e5e5e, 0 0px 30px 8px #fff;
}
.righteye__1 {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.righteye__2 {
    transform: translateX(6px) translateY(-5px);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#lefteye {
    position: absolute;
    top: 261px;
    left: 19px;
    width: 75px;
    height: 75px;
    margin-left: 50%;
    background-color: #000;
    border-radius: 45px;
    z-index: 20;
    box-shadow: 0 0 12px 0px #5e5e5e, 0 0 30px 8px #fff;
}
.lefteye__1 {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.lefteye__2 {
    transform: translateX(6px) translateY(5px);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#iris-lefteye, #iris-righteye {
    position: absolute;
    top: 6px;
    left: -11px;
    width: 24px;
    height: 24px;
    margin-left: 50%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: inset 0px 0px 2px 3px #9edae4;
}
.iris-1 {transform: translateX(0px) translateY(0px);} /* In this case where 65 classes differ only by transform property I consolidated 3 lines into 1 for easier reading */
.iris-2 {transform: translateX(8px) translateY(3px);}
.iris-3 {transform: translateX(14px) translateY(8px);}
.iris-4 {transform: translateX(18px) translateY(14px);}
.iris-5 {transform: translateX(20px) translateY(20px);}
.iris-6 {transform: translateX(18px) translateY(26px);}
.iris-7 {transform: translateX(14px) translateY(32px);}
.iris-8 {transform: translateX(8px) translateY(36px);}
.iris-9 {transform: translateX(0px) translateY(39px);}
.iris-10 {transform: translateX(-8px) translateY(36px);}
.iris-11 {transform: translateX(-14px) translateY(32px);}
.iris-12 {transform: translateX(-18px) translateY(26px);}
.iris-13 {transform: translateX(-20px) translateY(20px);}
.iris-14 {transform: translateX(-18px) translateY(14px);}
.iris-15 {transform: translateX(-14px) translateY(8px);}
.iris-16 {transform: translateX(-8px) translateY(3px);}
.iris-17 {transform: translateX(0px) translateY(5px);}
.iris-18 {transform: translateX(5px) translateY(9px);}
.iris-19 {transform: translateX(9px) translateY(14px);}
.iris-20 {transform: translateX(12px) translateY(20px);}
.iris-21 {transform: translateX(9px) translateY(26px);}
.iris-22 {transform: translateX(5px) translateY(30px);}
.iris-23 {transform: translateX(0px) translateY(33px);}
.iris-24 {transform: translateX(-5px) translateY(30px);}
.iris-25 {transform: translateX(-9px) translateY(26px);}
.iris-26 {transform: translateX(-12px) translateY(20px);}
.iris-27 {transform: translateX(-9px) translateY(14px);}
.iris-28 {transform: translateX(-5px) translateY(9px);}
.iris-29 {transform: translateX(0px) translateY(8px);}
.iris-30 {transform: translateX(5px) translateY(14px);}
.iris-31 {transform: translateX(8px) translateY(20px);}
.iris-32 {transform: translateX(5px) translateY(26px);}
.iris-33 {transform: translateX(0px) translateY(32px);}
.iris-34 {transform: translateX(-5px) translateY(26px);}
.iris-35 {transform: translateX(-8px) translateY(20px);}
.iris-36 {transform: translateX(-5px) translateY(14px);}
.iris-37 {transform: translateX(0px) translateY(11px);}
.iris-38 {transform: translateX(3px) translateY(15px);}
.iris-39 {transform: translateX(6px) translateY(20px);}
.iris-40 {transform: translateX(3px) translateY(24px);}
.iris-41 {transform: translateX(0px) translateY(29px);}
.iris-42 {transform: translateX(-3px) translateY(24px);}
.iris-43 {transform: translateX(-6px) translateY(20px);}
.iris-44 {transform: translateX(-3px) translateY(15px);}
.iris-45 {transform: translateX(0px) translateY(14px);}
.iris-46 {transform: translateX(3px) translateY(17px);}
.iris-47 {transform: translateX(5px) translateY(20px);}
.iris-48 {transform: translateX(3px) translateY(23px);}
.iris-49 {transform: translateX(0px) translateY(26px);}
.iris-50 {transform: translateX(-3px) translateY(23px);}
.iris-51 {transform: translateX(-5px) translateY(20px);}
.iris-52 {transform: translateX(-3px) translateY(17px);}
.iris-53 {transform: translateX(0px) translateY(17px);}
.iris-54 {transform: translateX(3px) translateY(20px);}
.iris-55 {transform: translateX(0px) translateY(23px);}
.iris-56 {transform: translateX(-3px) translateY(20px);}
.iris-57 {transform: translateX(0px) translateY(19px);} /* Positions greater than or equal to 57 are exclusively for when babyCup's name has been called */
.iris-58 {transform: translateX(0px) translateY(20px);}
.iris-59 {transform: translateX(0px) translateY(21px);}
.iris-60 {transform: translateX(1px) translateY(19px);}
.iris-61 {transform: translateX(1px) translateY(20px);}
.iris-62 {transform: translateX(1px) translateY(21px);}
.iris-63 {transform: translateX(-1px) translateY(19px);}
.iris-64 {transform: translateX(-1px) translateY(20px);}
.iris-65 {transform: translateX(-1px) translateY(21px);}

#mouth {
    position: absolute;
    top: 255px;
    left: -54px;
    margin-left: 50%;
    z-index: 20;
}
.mouth__1-1-1 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 21px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-27px) translateX(8px);
}
.mouth__1-1-2 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 23px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-27px) translateX(8px);
}
.mouth__1-1-3 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 24px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-28px) translateX(8px);
}
.mouth__1-1-4 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 26px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-29px) translateX(8px);
}
.mouth__1-1-5 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 27px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-30px) translateX(8px);
}
.mouth__1-1-6 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 29px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-31px) translateX(8px);
}
.mouth__1-1-7 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 30px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-32px) translateX(8px);
}
.mouth__1-1-8 { /* Smiling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 32px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-32px) translateX(8px);
}
.mouth__1-2-1 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 36px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-33px) translateX(8px);
}
.mouth__1-2-2 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 39px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-33px) translateX(8px);
}
.mouth__1-2-3 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 42px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-34px) translateX(8px);
}
.mouth__1-2-4 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 45px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-35px) translateX(8px);
}
.mouth__1-2-5 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 47px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-36px) translateX(8px);
}
.mouth__1-2-6 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 48px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-37px) translateX(8px);
}
.mouth__1-2-7 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 50px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-38px) translateX(8px);
}
.mouth__1-2-8 { /* Chortling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 51px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-38px) translateX(8px);
}
.mouth__1-3-1 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 53px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-39px) translateX(8px);
}
.mouth__1-3-2 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 56px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-41px) translateX(8px);
}
.mouth__1-3-3 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 59px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-42px) translateX(8px);
}
.mouth__1-3-4 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 62px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-44px) translateX(8px);
}
.mouth__1-3-5 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 65px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-45px) translateX(8px);
}
.mouth__1-3-6 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 68px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-47px) translateX(8px);
}
.mouth__1-3-7 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 71px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-48px) translateX(8px);
}
.mouth__1-3-8 { /* Laughing */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 74px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: translateY(-50px) translateX(8px);
}
.mouth__2-1-1 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 21px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(177deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-2 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 21px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(183deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-3 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 22px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(177deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-4 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 23px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(183deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-5 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 24px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(177deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-6 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 25px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(183deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-7 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 26px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(177deg) translateY(3px) translateX(-8px);
}
.mouth__2-1-8 { /* Pouting */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 27px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(183deg) translateY(3px) translateX(-8px);
}
.mouth__2-2-1 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 28px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(3px) translateX(-8px);
}
.mouth__2-2-2 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 29px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(3px) translateX(-8px);
}
.mouth__2-2-3 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 30px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(4px) translateX(-8px);
}
.mouth__2-2-4 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 32px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(5px) translateX(-8px);
}
.mouth__2-2-5 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 33px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(6px) translateX(-8px);
}
.mouth__2-2-6 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 35px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(6px) translateX(-8px);
}
.mouth__2-2-7 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 36px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(7px) translateX(-8px);
}
.mouth__2-2-8 { /* Grumbling */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 38px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(8px) translateX(-8px);
}
.mouth__2-3-1 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 39px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(9px) translateX(-8px);
}
.mouth__2-3-2 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 42px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(11px) translateX(-8px);
}
.mouth__2-3-3 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 45px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(12px) translateX(-8px);
}
.mouth__2-3-4 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 48px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(14px) translateX(-8px);
}
.mouth__2-3-5 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 51px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(15px) translateX(-8px);
}
.mouth__2-3-6 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 54px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(17px) translateX(-8px);
}
.mouth__2-3-7 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 57px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(178deg) translateY(18px) translateX(-8px);
}
.mouth__2-3-8 { /* Crying */
    width: 90px;
    height: 36px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 60px solid #000;
    border-radius: 0px 0 45px 45px;
    transform: rotateZ(182deg) translateY(20px) translateX(-5px);
}
.mouth__3-1-1 { /* Unsure left */
    width: 78px;
    height: 23px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-3px) translateX(15px);
}
.mouth__3-1-2 { /* Unsure left */
    width: 81px;
    height: 21px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-2px) translateX(14px);
}
.mouth__3-1-3 { /* Unsure left */
    width: 84px;
    height: 20px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-1px) translateX(12px);
}
.mouth__3-1-4 { /* Unsure left */
    width: 84px;
    height: 18px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(1deg);
}
.mouth__3-1-5 { /* Unsure left */
    width: 84px;
    height: 17px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(2deg);
}
.mouth__3-1-6 { /* Unsure left */
    width: 84px;
    height: 15px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(3deg);
}
.mouth__3-1-7 { /* Unsure left */
    width: 84px;
    height: 14px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(4deg);
}
.mouth__3-1-8 { /* Unsure left */
    width: 84px;
    height: 12px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(5deg);
}
.mouth__3-2-1 { /* Unsure right */
    width: 78px;
    height: 23px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-3px) translateX(15px);
}
.mouth__3-2-2 { /* Unsure right */
    width: 81px;
    height: 21px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-2px) translateX(14px);
}
.mouth__3-2-3 { /* Unsure right */
    width: 84px;
    height: 20px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-1px) translateX(12px);
}
.mouth__3-2-4 { /* Unsure right */
    width: 84px;
    height: 18px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(-1deg);
}
.mouth__3-2-5 { /* Unsure right */
    width: 84px;
    height: 17px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(-2deg);
}
.mouth__3-2-6 { /* Unsure right */
    width: 84px;
    height: 15px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(-3deg);
}
.mouth__3-2-7 { /* Unsure right */
    width: 84px;
    height: 14px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(-4deg);
}
.mouth__3-2-8 { /* Unsure right */
    width: 84px;
    height: 12px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(0px) translateX(12px) rotateZ(-5deg);
}
.mouth__3-3-1 { /* Zoning out */
    width: 54px;
    height: 48px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-15px) translateX(27px);
}
.mouth__3-3-2 { /* Zoning out */
    width: 57px;
    height: 45px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-14px) translateX(26px);
}
.mouth__3-3-3 { /* Zoning out */
    width: 60px;
    height: 42px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-12px) translateX(24px);
}
.mouth__3-3-4 { /* Zoning out */
    width: 63px;
    height: 39px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-11px) translateX(23px);
}
.mouth__3-3-5 { /* Zoning out */
    width: 66px;
    height: 36px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-9px) translateX(21px);
}
.mouth__3-3-6 { /* Zoning out */
    width: 69px;
    height: 33px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-8px) translateX(20px);
}
.mouth__3-3-7 { /* Zoning out */
    width: 72px;
    height: 30px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-6px) translateX(18px);
}
.mouth__3-3-8 { /* Zoning out */
    width: 75px;
    height: 27px;
    background-color: #000;
    border-radius: 75px 75px 75px 75px;
    transform: translateY(-5px) translateX(17px);
}
.mouth__4-1-1 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(221deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-2 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(220deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-3 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(219deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-4 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(218deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-5 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(223deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-6 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(224deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-7 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(225deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-1-8 { /* Half smiling raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-46px) translateX(18px) rotateZ(226deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-1 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(222deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-2 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(221deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-3 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(220deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-4 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(219deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-5 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(218deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-6 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(217deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-7 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(216deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-2-8 { /* Half smiling left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(215deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-1 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(222deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-2 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(223deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-3 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(224deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-4 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(225deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-5 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(226deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-6 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(227deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-7 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(228deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__4-3-8 { /* Half smiling right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-45px) translateX(18px) rotateZ(229deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-1 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(41deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-2 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(40deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-3 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(39deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-4 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(38deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-5 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(43deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-6 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(44deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-7 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(45deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-1-8 { /* Frowning raised center */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-12px) translateX(18px) rotateZ(46deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-1 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(42deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-2 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(43deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-3 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(44deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-4 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(45deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-5 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(46deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-6 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(47deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-7 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(48deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-2-8 { /* Frowning left */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(49deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-1 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(41deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-2 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(40deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-3 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(39deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-4 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(38deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-5 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(37deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-6 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(36deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-7 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(35deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
.mouth__5-3-8 { /* Frowning right */
    width: 72px;
    height: 72px;
    border-top-left-radius: 150px;
    margin-left: 50%;
    transform: translateY(-11px) translateX(18px) rotateZ(34deg);
    transform-origin: 50% 50%;
    box-shadow: -6px -8px 2px -5px black;
}
